/** OTHER **/

body {
    background-color: rgb(251, 239, 239);
}

/** END OF OTHER **/

/** --------------------------------- **/

/** LOGIN **/

#startupLogo {
    width: 45%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#userloginForm {
    display: flex;
    justify-content: center;
}

.input {
    display: grid;
    width: 50%;

    
}

#username, #password {

}